*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!/digital_lab/*
!Makefile
!README.md
!.gitignore
!init.sh
!sim-utils/*
/fceux-am
/nvboard
/temp
/npc/obj_dir/
*/obj_dir
/am-kernels
/yosys-sta
